@charset "utf-8"
  /* for mobile */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,
code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;

  display:flex;
  background:white;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:space-around;
}
body{
  display:flex;
  background:white;
  flex-direction:column;
  justify-content:space-around;
}
.header{
  display:flex;
  flex-direction:row;
  justify-content:basline;
  color:#b12331;
  font-weight:bold;
  font-size:20px;
}
.header button{
  border:none;
  background-color:white;
  color:#b12331;
  padding:20px;
  font-weight:bold;
  font-size:20px;
}
.header button:active, .header button:hover{
  background:#f3f3f3
}
#backButton {
  background:white;
  font-weight:bold;
  color:#b12331;
  padding:1em;
  border:none;
}
.header button:hover ,.herader button:active{
  background:#eaeaea;
  border:none;
}
input {
  padding:1em;
  margin:0.8em ;
  width:80%;
  height:1em;
  font-size:15px;
}
#commentbox{
  height:8em;
}
.star{
  margin:0 0.8em
}
#star{
  width:auto;
}

#goButton{
  width:89%;
  background-color:#b12331;
  border:none;
  color:white;
  font-size:20px;
  padding:0.3em 0em;
  margin:0.8em;

}