@charset "utf-8"
  /* for mobile */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,
code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;

  display:flex;
  background:white;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:space-around;
}

.header{
  display:flex;
  flex-direction:row;
  color:#b12331;
  font-weight:bold;
  font-size:20px;
}
.header button{
  border:none;
  background-color:white;
  color:#b12331;
  padding:20px;
  font-weight:bold;
  font-size:20px;
}
.header button:active, .header button:hover{
  background:#f3f3f3
}
.body{
  display:flex;
  flex-direction:column;
}
.content p{
  font-weight:bold;
  color:#b12331;
  font-size:18px;
}
.buttons{
  list-style:none;
}
.buttons li{
  display:inline;
}
.buttons li label{
  display:inline-block;
  border: 2px solid #cccccc;
  background-color:white;
  color:#666666;
  border-radius:25px;
  white-space:nowrap;
  margin:0.2em 0em;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:transparent;
  transition:all .2s;
  }
.buttons li label{
  padding: 0.3em 1em;
  cursor:pointer;
}
.buttons li label::before{
  display:inline-block;
  font-style:normal;
  font-variant:normal;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  font-family:"Font Awesome 5 Free";
  font-weight:900;
  font-size:15px;
  padding:2px 6px 2px 2px;
  transition:transform .3s ease-in-out;
}
.buttons li input[type="checkbox"]:checked + label::before{
  transition:transform .3s ease-in-out;
}
.buttons li input[type="checkbox"]:checked+label{
  background-color:#c04e5a;
  border:2px solid #b12331;

  color:white;
  transition:all .2s;
}
.buttons li input[type="checkbox"]{
  display:absolute;
  opacity:0;
}
.buttons li input[type="chekbox"]:focus+label{
  border:2px solid #9a1ff;
}
.go button{
  width:100%;
  background-color:#b12331;
  border:20px solid white;
  color:white;
  font-size:20px;
  padding:0.3em 0em;

}