@charset "utf-8"
  /* for mobile */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,
code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;

  display:flex;
  background:white;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:space-around;
}
body{
  display:flex;
  background:white;
  flex-direction:column;
  justify-content:space-around;
}
.header{
  display:flex;
  flex-direction:row;
  justify-content:basline;
  color:#b12331;
  font-weight:bold;
}
.header button{
  background:white;
  font-weight:bold;
  color:#b12331;
  padding:1em;
  border:none;
}
.header button:hover ,.herader button:active{
  background:#eaeaea;
  border:none;
}
table{
  width:100%;
  text-align:center;
  border:1px solid #cdcdcd;
}
table th{
  background:#eaeaea;
  border: 1px solid #eaeaea;
  padding:5px;
  border:1px solid #cdcdcd;
}
table td{
  padding:8px;
  border:1px solid #cdcdcd
}
.body button{
  border-radius:18px;
  font-size:1.3em;
  padding:5px;
  width:25%;
  border:none;
  background-color:#b12331;
  color:white;
  text-align:center;
  font-weight:bold;
  display:block;
  margin-left:auto;
  margin-right:auto;
}