@charset "utf-8"
  /* for mobile */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,
code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;

  display:flex;
  background:white;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:space-around;
}

body{
  display:flex;
  background:white;
  flex-direction:column;
  justify-content:space-around;
}
.header{
  display:flex;
  flex-direction:row;
  justify-content:basline;
  color:#b12331;
  font-weight:bold;
}
.header button{
  background:white;
  font-weight:bold;
  color:#b12331;
  padding:1em;
  border:none;
}
.header button:hover ,.herader button:active{
  background:#eaeaea;
  border:none;
}
.title {
  display:flex;
  justify-content:space-around;
  color:#b21f32;
}
.title #jumsim {
  color:#321a28;
}
.search button{
  text-align:center;
  width:100%;
  font-weight:bold;
  color:#b21f32;
  background-color:white;
  border: 1.5px solid #b21f32;
  border-radius:13px;
}
.search button:hover, .search button:active{
  background-color:#b21f32;
  color:white;
}
.ranking{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  padding:50px;
  align-content:space-around;
}
.ranking button{
  border:none;
  font-size:1em;
  text-align:center;
  border-radius:13px;
  padding:5px;
}